# Specific
**.csv
**.freezed.dart
**.g.dart
**.idea/
**.jar
**.lock
**.settings/
**.tflite
**gradlew
**gradlew.bat
saved_model/

# Artifacts
**__pycache__/
**.dart_tool/
**.flutter*
**.ipynb_checkpoints/
**build/

# Auxiliary files
**.bak
**.tmp

# Databases
**.db*
**.sqlite*

# Documents
**.doc*
**.ppt*
**.vsd*
**.xls*

# File managers
**.DS_Store
**.Trash*
**.directory
**esktop.ini

# Images
**.3dm
**.apng
**.bmp
**.dib
**.gif
**.hdp
**.ico
**.j2k
**.jfi
**.jfif
**.jif
**.jp2
**.jpe
**.jpeg
**.jpf
**.jpg
**.jpm
**.jpx
**.jxr
**.max
**.mj2
**.mng
**.pdf
**.png
**.raw
**.svg
**.svgz
**.tif
**.tiff
**.wdp
**.webp
**.xbm
